.app {
  padding: var(--gap, 24px);
  max-width: 1200px;
  margin: 0 auto;
}
h1 + * {
  font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
  margin-top: var(--gap, 24px);
}
.app-wrapper {
  display: grid;
  gap: var(--gap, 24px);
  grid-template-columns: 1fr;
}
.col + .col {
  border-top: 1px solid var(--stroke, #ccc);
  padding-top: var(--gap, 24px);
}
@media (min-width: 765px) {
  .app-wrapper {
    grid-template-columns: 3fr 2fr;
  }
  .col + .col {
    border-left: 1px solid var(--stroke, #ccc);
    border-top: none;
    padding-left: var(--gap, 24px);
    padding-top: 0;
  }
}
@media (min-width: 1024px) {
  .app-wrapper {
    grid-template-columns: 4fr 2fr;
  }
}

/* .col {
  position: relative;
}
.col::before {
  background: var(--accent, black);
  content: attr(data-size);
  inset: 0;
  opacity: 0.25;
  position: absolute;
  z-index: 1;
}
.col::after {
  background: var(--accent, black);
  color: white;
  content: attr(data-size);
  display: inline-block;
  inset: 0;
  height: 1.75rem;
  line-height: 1.25;
  margin: 0 auto;
  padding: 3px 0 0;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  width: 6ch;
} */
