.story {
  padding: 1rem;
}
.title {
  font-feature-settings: "kern";
  font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
  font-size: 1.4375rem;
  font-weight: 700;
  line-height: 1.6875rem;
  margin-bottom: 7px;
}
.byline {
  color: var(--content-subtle, #727272);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 0.6875rem;
  font-weight: 500;
  line-height: 0.75rem;
  margin-top: 5px;
}
.noSummary {
  display: none;
}

.bullet {
  background-color: #727272;
  border-radius: 1px;
  display: inline-block;
  height: 2px;
  width: 2px;
  margin: 4px 5px 0;
}
